<!-- <div class='ads'> -->
  <div class='row text-center'>
    <h2><b>Things to do around Granby:</b></h2>
  </div>
  <div class='things-to-do'>
  <a href='http://www.granbyranch.com/bike-granby-ranch/bike.html' target='_blank'>
    <%= image_tag("mountain-bike.jpg", class: 'overview') %>
    <h3><b>Bike down the slopes of Granby Ranch</b></h3>
    </a>
  </div>
  <div class='things-to-do'>
    <%= image_tag("fish.jpg", class: 'overview') %>
    <h3><a href='http://www.granbyranch.com/fish-granby-ranch/colorado-fly-fishing.html' target='_blank'><b>Reel in a whopper while learning to fly fish</b></a></h3>
  </div>
  <div class='things-to-do'>
    <%= image_tag("golf.jpg", class: 'overview') %>
    <h3><a href='http://www.granbyranch.com/golf-granby-ranch/golf-overview-gallery.html' target='_blank'><b>Live the rough life while putting in hardwork</b></a></h3>
  </div>
  <div class='things-to-do'>
    <%= image_tag("rmnp.jpg", class: 'overview') %>
    <h3><a href='http://rockymountainnationalpark.com/' target='_blank'><b>Hike some of Colorado's best trails at RMNF</b></a></h3>
  </div>
  <div class='things-to-do'>
    <%= image_tag("grand-lake.jpg", class: 'overview') %>
    <h3><a href='http://www.trailridgemarina.com/' target='_blank'><b>Take to Grand Lake with a boat</b></a></h3>
  </div>
  <div class='things-to-do'>
    <%= image_tag("hideaway.jpg", class: 'overview') %>
    <h3><a href='http://hideawayparkbrewery.com/' target='_blank'><b>Try a local Colorado beer or two  or three</b></a></h3>
  </div>
<!-- </div> -->