<div class='container extra'>
  <div class='row'>
    <div class='col-md-7 col-xs-12 vcenter'>
      <h1 class='article-title'>
        Can you get 100% on this Bride vs Groom Quiz?
      </h1>
      <p class="description">Was it Paul? Was it Tahra? Who knows?</p>
      <span class="post-datetimes">
        <span id="update_posted_time_4418899" class="buzz-datetime converted_buzz_datetime">engaged on  July 30, 2016, at 2:30 p.m.</span>
      </span>
      <div class="row">
        <div class='col-xs-2'>
          <%= image_tag('author.jpg', class: 'byline_avatar') %>
        </div>
        <div class="col-xs-10 byline_body">
          <a class="byline_author" data-action="user/username">Tahra Johnson & Paul Grever</a>

          <div class="byline_title">
            Bride and Groom,
            <br>
            Granby Ranch, Colorado USA
          </div>
        </div>
      </div>
      <div class='row social-media'>
        <%= render 'partials/social_media' %>
      </div>
      <!-- Start of Quiz -->
      <div class='row one quiz'>
        <div class='col-xs-12 quiz-question'>
            <h1 class='quiz-text text-center'>Paul and Tahra both play COED indoor soccer together. Which one of them is the team goalie?</h1>
        </div>
        <div class='col-sm-6 col-xs-12 tahra answer-choice'>
          <div class='answer answer-tahra' data-question='.one'>
            <div class='answer-space'>
              <%= image_tag("tahra-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Tahra Johnson</h3>
            </div>
          </div>
        </div>
        <div class='col-sm-6 col-xs-12 paul answer-choice'>
          <div class='answer answer-paul' data-question='.one'>
            <div class='answer-space'>
              <%= image_tag("paul-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Paul Grever</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- TWO-->
      <div class='row two quiz'>
        <div class='col-xs-12 quiz-question'>
            <h1 class='quiz-text text-center'>Both Paul and Tahra played trombone while growing up. Who stuck with it longer?</h1>
        </div>
        <div class='col-sm-6 col-xs-12 tahra answer-choice'>
          <div class='answer answer-tahra' data-question='.two'>
            <div class='answer-space'>
              <%= image_tag("tahra-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Tahra Johnson</h3>
            </div>
          </div>
        </div>
        <div class='col-sm-6 col-xs-12 paul answer-choice'>
          <div class='answer answer-paul' data-question='.two'>
            <div class='answer-space'>
              <%= image_tag("paul-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Paul Grever</h3>
            </div>
          </div>
        </div>
      </div>
    <!-- three  -->
      <div class='row three quiz'>
        <div class='col-xs-12 quiz-question'>
            <h1 class='quiz-text text-center'>
              Paul and Tahra love to hit the Colorado slopes. Which one is the snowboarder?
            </h1>
        </div>
        <div class='col-sm-6 col-xs-12 tahra answer-choice'>
          <div class='answer answer-tahra' data-question='.three'>
            <div class='answer-space'>
              <%= image_tag("tahra-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Tahra Johnson</h3>
            </div>
          </div>
        </div>
        <div class='col-sm-6 col-xs-12 paul answer-choice'>
          <div class='answer answer-paul' data-question='.three'>
            <div class='answer-space'>
              <%= image_tag("paul-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Paul Grever</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- Four -->
      <div class='row four quiz'>
        <div class='col-xs-12 quiz-question'>
            <h1 class='quiz-text text-center'>
              After only a month of dating, Paul and Tahra took a trapezee lesson for Valentine's Day. Which one successfully jumped from the bar into the instructors hand first?
            </h1>
        </div>
        <div class='col-sm-6 col-xs-12 tahra answer-choice'>
          <div class='answer answer-tahra' data-question='.four'>
            <div class='answer-space'>
              <%= image_tag("tahra-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Tahra Johnson</h3>
            </div>
          </div>
        </div>
        <div class='col-sm-6 col-xs-12 paul answer-choice'>
          <div class='answer answer-paul' data-question='.four'>
            <div class='answer-space'>
              <%= image_tag("paul-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Paul Grever</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- FIVE -->
      <div class='row five quiz'>
        <div class='col-xs-12 quiz-question'>
            <h1 class='quiz-text text-center'>
              Paul and Tahra moved to Colorado in 2014. Which one arrived to Colorado first?
            </h1>
        </div>
        <div class='col-sm-6 col-xs-12 tahra answer-choice'>
          <div class='answer answer-tahra' data-question='.five'>
            <div class='answer-space'>
              <%= image_tag("tahra-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Tahra Johnson</h3>
            </div>
          </div>
        </div>
        <div class='col-sm-6 col-xs-12 paul answer-choice'>
          <div class='answer answer-paul' data-question='.five'>
            <div class='answer-space'>
              <%= image_tag("paul-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Paul Grever</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- SIX -->
      <div class='row six quiz'>
        <div class='col-xs-12 quiz-question'>
            <h1 class='quiz-text text-center'>
              Paul and Tahra favorite Colorado brewery is Odells in Fort Collins. Who's favorite Odells beer is the IPA?
            </h1>
        </div>
        <div class='col-sm-6 col-xs-12 tahra answer-choice'>
          <div class='answer answer-tahra' data-question='.six'>
            <div class='answer-space'>
              <%= image_tag("tahra-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Tahra Johnson</h3>
            </div>
          </div>
        </div>
        <div class='col-sm-6 col-xs-12 paul answer-choice'>
          <div class='answer answer-paul' data-question='.six'>
            <div class='answer-space'>
              <%= image_tag("paul-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Paul Grever</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- seven -->
      <div class='row seven quiz'>
        <div class='col-xs-12 quiz-question'>
            <h1 class='quiz-text text-center'>
              According to How I Met Your Mother, every successful couple has one olive lover and one olive hater. Who is the olive lover in this relationship?
            </h1>
        </div>
        <div class='col-sm-6 col-xs-12 tahra answer-choice'>
          <div class='answer answer-tahra' data-question='.seven'>
            <div class='answer-space'>
              <%= image_tag("tahra-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Tahra Johnson</h3>
            </div>
          </div>
        </div>
        <div class='col-sm-6 col-xs-12 paul answer-choice'>
          <div class='answer answer-paul' data-question='.seven'>
            <div class='answer-space'>
              <%= image_tag("paul-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Paul Grever</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- eight -->
      <div class='row eight quiz'>
        <div class='col-xs-12 quiz-question'>
            <h1 class='quiz-text text-center'>
              Paul and Tahra love to paddle board together. Who is more likely to fall into the water?
            </h1>
        </div>
        <div class='col-sm-6 col-xs-12 tahra answer-choice'>
          <div class='answer answer-tahra' data-question='.eight'>
            <div class='answer-space'>
              <%= image_tag("tahra-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Tahra Johnson</h3>
            </div>
          </div>
        </div>
        <div class='col-sm-6 col-xs-12 paul answer-choice'>
          <div class='answer answer-paul' data-question='.eight'>
            <div class='answer-space'>
              <%= image_tag("paul-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Paul Grever</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- nine -->
      <div class='row nine quiz'>
        <div class='col-xs-12 quiz-question'>
            <h1 class='quiz-text text-center'>
              Paul and Tahra love camping together. But one of them loves smores indoors when the other is out of town. Who adores the smores?
            </h1>
        </div>
        <div class='col-sm-6 col-xs-12 tahra answer-choice'>
          <div class='answer answer-tahra' data-question='.nine'>
            <div class='answer-space'>
              <%= image_tag("tahra-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Tahra Johnson</h3>
            </div>
          </div>
        </div>
        <div class='col-sm-6 col-xs-12 paul answer-choice'>
          <div class='answer answer-paul' data-question='.nine'>
            <div class='answer-space'>
              <%= image_tag("paul-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Paul Grever</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- ten -->
      <div class='row ten quiz'>
        <div class='col-xs-12 quiz-question'>
            <h1 class='quiz-text text-center'>
              Paul and Tahra have hiked many of Colorados mountains. Which one hiked a 14'er (14,000 ft mountain) the morning after polishing off a full bottle of champagne?
            </h1>
        </div>
        <div class='col-sm-6 col-xs-12 tahra answer-choice'>
          <div class='answer answer-tahra' data-question='.ten'>
            <div class='answer-space'>
              <%= image_tag("tahra-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Tahra Johnson</h3>
            </div>
          </div>
        </div>
        <div class='col-sm-6 col-xs-12 paul answer-choice'>
          <div class='answer answer-paul' data-question='.ten'>
            <div class='answer-space'>
              <%= image_tag("paul-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Paul Grever</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-5 hidden-sm hidden-xs'>
      <% if @quizzes_taken%>
        <div class='row text-center'>
          <h2><b>Quiz Leader Board:</b></h2>
        </div>
        <table class="table table-condensed">
          <thead>
            <tr>
              <td>Score</td>
              <td>Name</td>
              <td>Message</td>
            </tr>
          </thead>
          <tbody>
            <% @quiz_results.each do |quiz_result| %>
              <tr>
                <td><strong><%= quiz_result.score %></strong></td>
                <td><%= quiz_result.name %></td> 
                <td><%= quiz_result.message %></td>              
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
      <%= render 'partials/things' %>
    </div>
    <div class='finished-quiz end-of-page hidden'>
      <div class='results col-md-7 col-xs-12'>
        <h2 class='quiz-title-recap'>
          Can you get 100% on this Bride vs Groom Quiz?
        </h2>
        <h1 class='results-headline'>You got <span class='quiz-score'>0</span>/10 correct!</h1>
        <div class='row'>
          <div class='col-xs-6'>
            <p class='results-description'>
              You did pretty good! But you could use a little brushing up on Paul and Tahra trivia. Sounds like you should plan a visit to Denver in the near future. We can go for a hike or skiing!
            </p>
          </div>
          <div class='col-xs-6 results-image'>
            <%= image_tag("come-visit-us.jpg", class: 'overview results-display') %>
          </div>
        </div>
      </div>
      <div class='col-md-5 col-xs-12'>
        <h2>Submit Your Score!</h2>
        <h4>And post us a little message if you want to!</h4>
        <%= form_tag("/quiz", method: "post") do %>
          <div class='form-group'>
            <%= label_tag(:name, "Full Name") %>
            <%= text_field_tag('quiz[name]', nil, placeholder: 'Name', class: 'form-control', required: true)%>
          </div>
          <%= hidden_field_tag('quiz[score]', 0, id: 'submit-score') %>
          <div class='form-group'>
            <%= label_tag(:message, "Message") %>
            <%= text_area_tag('quiz[message]', nil, size: "24x6", placeholder: "Leave us a little message", class: 'form-control') %>
          </div>
          <%= submit_tag("Submit your score", class: 'btn btn-default btn-lg btn-submit end-of-page' ) %>
        <% end %>
      </div>
    </div>
  </div>
</div>

