<div class='container extra'>
  <div class='row'>
    <div class='col-md-7 col-xs-12'>
      <h1 class='article-title'>
        9 things you absolutely need to know about the Johnson/Grever wedding
      </h1>
      <p class="description">Because it's going to be awesome and you want to maximize the bone zone</p>
      <span class="post-datetimes">
        <span id="update_posted_time_4418899" class="buzz-datetime converted_buzz_datetime">engaged on  July 30, 2016, at 2:30 p.m.</span>
      </span>
      <div class="row">
        <div class='col-xs-2'>
          <%= image_tag('author.jpg', class: 'byline_avatar') %>
        </div>
        <div class="col-xs-10 byline_body">
          <a class="byline_author" data-action="user/username">Tahra Johnson & Paul Grever</a>

          <div class="byline_title">
            Bride and Groom,
            <br>
            Granby Ranch, Colorado USA
          </div>
        </div>
      </div>
      <div class='row social-media'>
        <%= render 'partials/social_media' %>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          1. WHO: Paul Grever And Tahra Johnson
        </div>
        <div class='col-xs-12'>
          <%= image_tag("paul_and_tahra.jpg", class: 'overview') %>
          <div class='item-text'>
            <p>Midwest meets East Coast, the perfect match!</p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          2. WHAT: A Colorado Wedding!
        </div>
        <div class='col-xs-12'>
          <%= image_tag("engagment.jpg", class: 'overview') %>
          <div class='item-text'>
            <p>Tahra said yes on top of Green Mountain just outside of Boulder</p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          3. WHEN: It's going down <a target='blank' href="https://calendar.google.com/calendar/render?action=TEMPLATE&dates=20170716/20170717&location=Granby+Ranch+Granby+CO&text=Johnson-Grever+Wedding&details=We+are+so+excited+to+see+you+in+Colorado!!%0A%0A--%0Ahttp://www.paulandtahra.party" >July 16, 2017!</a>
        </div>
        <div class='col-xs-12'>
          <%= image_tag("july-16.jpg", class: 'overview') %>
          <div class='item-text'>
            <p><a target='blank' href="https://calendar.google.com/calendar/render?action=TEMPLATE&dates=20170716/20170717&location=Granby+Ranch+Granby+CO&text=Johnson-Grever+Wedding&details=We+are+so+excited+to+see+you+in+Colorado!!%0A%0A--%0Ahttp://www.paulandtahra.party">Save it your Google Calendar!!!</a></p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          4. WHERE: Granby Ranch, Granby Colorado
        </div>
        <div class='col-xs-12'>
          <iframe
            width="100%"
            height="470"
            frameborder="0" style="border:0"
            src=<%="https://www.google.com/maps/embed/v1/place?key=#{ENV['google_map_key']}&q=Granby+Ranch,Granby+CO&maptype=satellite"%> >
          </iframe>
          <%= image_tag("granby-overview.png", class: 'overview') %>
          <div class='item-text'>
            <p><b><a targe='_blank' href='http://www.granbyranch.com/'>Granby Ranch</a></b> is a small ski resort during the winter and a mountain bikers dream during the summer. It's  located just 90 miles west of Denver and only 20 miles west of Winter Park.</p>
            <p>Call 888-850-4615 or email reservationcenter@granbyranch.com for golf, fly fishing, mountain biking, and lodging.</p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          5. WHY: Because ... we are the Bones!
        </div>
        <div class='col-xs-12'>
          <%= image_tag("the_bones.jpg", class: 'overview') %>
          <div class='item-text'>
            <p>Paul and Tahra met freshman year of college at American University on 4 North in Anderson Hall. They were more of acquaintances in college and years after. Tahra enjoyed visiting Paul at Grand Central long before they started dating. On her 25th birthday, Paul iced Tahra from behind the bar... and only 3 years later did they go on their first "date" at Meridian Pint. Only, they didn't know it was a date at the time. After a lovely evening of beers and sweet potato wedges, Paul kissed Tahra and it was like (FILL IN THE BLANK!). They then started a fun relationship of dating- which included trapeze lessons, Easter egg hunts, indoor skydiving, beer tastings and eventually- joined a soccer team together. It didn't take long for Tahra and Paul to know they had met their soulmate. It took two years for their friends to start calling them "The Bones".</p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          6. HOW: Via Chairlift!
        </div>
        <div class='col-xs-12'>
          <%= image_tag("chair_lift.jpg", class: 'overview') %>
          <div class='item-text'>
            <p><b>Yes</b> – there will be a chairlift taking you up to the ceremony site! Don’t worry- if you are afraid of heights- we will get you a shuttle.</p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          7. Altitude is REAL
        </div>
        <div class='col-xs-12'>
          <%= image_tag("altitude.png", class: 'overview') %>
          <div class='item-text'>
            <p><b>The wedding will take place above 8,000 ft</b></p>
            <p>How can you avoid altitude sickness one may ask?</p>
            <ol>
              <li>Drink water!</li>
              <li>Drink water!</li>
              <li>Drink water!</li>
              <li>An aspirin or two may also help if feel a headache coming on.</li>
              <li>Drink water!</li>
            </ol>     
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          8. The Weather is Cray in Colorado! 
        </div>
        <div class='col-xs-12'>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/ZpBEKGuVkRQ" frameborder="0" allowfullscreen></iframe>
          <div class='item-text'>
            <p>You may need 50 SPF sunblock AND a rain coat within 20 minutes of each other.</p>
            <p>The sun is VERY strong- even if you don’t feel it, you are getting some rays. Please consider wearing moisturizer with SPF or sunblock.</p>
            <p>Summer afternoon storms are normal- they come through relatively quickly- so be prepared with a rain coat!</p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          9. Rocky Mountain National Park is 20 miles away!
        </div>
        <div class='col-xs-12'>
          <%= image_tag("rocky-mountain-national-park.jpg", class: 'overview') %>
          <div class='item-text'>
          <p>If you have time to make this event a mini vacation- it is absolutely worth it exploring the mountains and lakes in the area!</p>
          </div>
        </div>

      </div>
    </div>
    <div class='col-md-5 hidden-sm hidden-xs'>
      <!-- <div class='ads'> -->
        <div class='row text-center'>
          <h2><b>Things to do around Granby:</b></h2>
        </div>
        <div class='things-to-do'>
        <a href='http://www.granbyranch.com/bike-granby-ranch/bike.html' target='_blank'>
          <%= image_tag("mountain-bike.jpg", class: 'overview') %>
          <h3><b>Bike down the slopes of Granby Ranch</b></h3>
          </a>
        </div>
        <div class='things-to-do'>
          <%= image_tag("fish.jpg", class: 'overview') %>
          <h3><a href='http://www.granbyranch.com/fish-granby-ranch/colorado-fly-fishing.html' target='_blank'><b>Reel in a whopper while learning to fly fish</b></a></h3>
        </div>
        <div class='things-to-do'>
          <%= image_tag("golf.jpg", class: 'overview') %>
          <h3><a href='http://www.granbyranch.com/golf-granby-ranch/golf-overview-gallery.html' target='_blank'><b>Live the rough life while putting in hardwork</b></a></h3>
        </div>
        <div class='things-to-do'>
          <%= image_tag("rmnp.jpg", class: 'overview') %>
          <h3><a href='http://rockymountainnationalpark.com/' target='_blank'><b>Hike some of Colorado's best trails at RMNF</b></a></h3>
        </div>
        <div class='things-to-do'>
          <%= image_tag("grand-lake.jpg", class: 'overview') %>
          <h3><a href='http://www.trailridgemarina.com/' target='_blank'><b>Take to Grand Lake with a boat</b></a></h3>
        </div>
        <div class='things-to-do'>
          <%= image_tag("hideaway.jpg", class: 'overview') %>
          <h3><a href='http://hideawayparkbrewery.com/' target='_blank'><b>Try a local Colorado beer or two  or three</b></a></h3>
        </div>
      <!-- </div> -->
    </div>
  </div>
</div>

<%= render 'partials/welcome' %>
