<div class='container extra'>
  <div class='row'>
    <div class='col-md-8 col-xs-12'>
      <h1 class='article-title'>
        Your guide to knowing who's who at Johnson/Grever wedding.
      </h1>
      <p class="description">Who are those matching people?</p>
      <span class="post-datetimes">
        <span id="update_posted_time_4418899" class="buzz-datetime converted_buzz_datetime">engaged on  July 30, 2016, at 2:30 p.m.</span>
      </span>
      <div class="row">
        <div class='col-xs-2'>
          <%= image_tag('author.jpg', class: 'byline_avatar') %>
        </div>
        <div class="col-xs-10 byline_body">
          <a class="byline_author" data-action="user/username">Tahra Johnson & Paul Grever</a>

          <div class="byline_title">
            Bride and Groom,
            <br>
            Granby Ranch, Colorado USA
          </div>
        </div>
      </div>
      <div class='row social-media'>
        <%= render 'partials/social_media' %>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          1. Matron of Honor: Dayna Johnson
        </div>
        <div class='col-xs-12'>
          <%= image_tag("paul_and_tahra.jpg", class: 'overview') %>
          <div class='item-text'>
            <p>DESCRIPT</p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          2. Matron on Honor: Kira Songberg
        </div>
        <div class='col-xs-12'>
          <%= image_tag("engagment.jpg", class: 'overview') %>
          <div class='item-text'>
            <p>DESCRIPTIOn</p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          8. Best Man: Alex Szewczyk
        </div>
        <div class='col-xs-12'>
          <%= image_tag("alex.jpg", class: 'overview') %>
          <div class='item-text'>
            <p>The brother from another mother. Paul and Alex became friends after joining the East High's Rugby team. Alex is now a firefighter and lives in Milwaukee.</p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          8. Groomslady: Chloe Persing
        </div>
        <div class='col-xs-12'>
          <%= image_tag("chloe.jpg", class: 'overview') %>
          <div class='item-text'>
            <p>The closest thing to a sister. Chloe and Paul </p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          8. Groomsman: Greg Smiley
        </div>
        <div class='col-xs-12'>
          <%= image_tag("greg.jpg", class: 'overview') %>
          <div class='item-text'>
            <p>DESCRIPTIOn</p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          8. Groomsman: Antonio Elias
        </div>
        <div class='col-xs-12'>
          <%= image_tag("antonio.jpg", class: 'overview') %>
          <div class='item-text'>
            <p>DESCRIPTIOn</p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          8. Groomsman: Andy Acs
        </div>
        <div class='col-xs-12'>
          <%= image_tag("andy.jpg", class: 'overview') %>
          <div class='item-text'>
            <p>DESCRIPTIOn</p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          8. Groomsman: Luis Valle
        </div>
        <div class='col-xs-12'>
          <%= image_tag("luis.jpg", class: 'overview') %>
          <div class='item-text'>
            <p>DESCRIPTIOn</p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          8. Groomsman: Shaen Johnson
        </div>
        <div class='col-xs-12'>
          <%= image_tag("shaen.jpg", class: 'overview') %>
          <div class='item-text'>
            <p>DESCRIPTIOn</p>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4 hidden-sm hidden-xs'>
      <div class='ads'>
        
      </div>
    </div>
  </div>
</div>