<div class='container extra'>
  <div class='row'>
    <div class='col-md-7 col-xs-12'>
      <h1 class='article-title'>
        The who's who at Johnson / Grever wedding.
      </h1>
      <p class="description">Who are those really really good looking people that match?</p>
      <span class="post-datetimes">
        <span id="update_posted_time_4418899" class="buzz-datetime converted_buzz_datetime">engaged on  July 30, 2016, at 2:30 p.m.</span>
      </span>
      <div class="row">
        <div class='col-xs-2'>
          <%= image_tag('author.jpg', class: 'byline_avatar') %>
        </div>
        <div class="col-xs-10 byline_body">
          <a class="byline_author" data-action="user/username">Tahra Johnson & Paul Grever</a>

          <div class="byline_title">
            Bride and Groom,
            <br>
            Granby Ranch, Colorado USA
          </div>
        </div>
      </div>
      <div class='row social-media'>
        <%= render 'partials/social_media' %>
      </div>
    </div>
    <div class='col-md-5 hidden-sm hidden-xs'>
     <%= image_tag("granby.png", class: 'overview') %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-5 col-xs-12'>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          Lady of Honor: Dayna Johnson (Sister of the Bride)
        </div>
        <div class='col-xs-12'>
          <%= image_tag("Dayna.jpg", class: 'overview') %>
          <div class='item-text'>
            <p><b>How she knows the bride:</b> Sisters since “Boomy's” birth (Tahra’s family nick name)! Dayna showed Tahra the ropes- how to walk, talk, play lacrosse, listen to good music like Dave Mathews Band and how to drink beer. </p>
            <p><b>Where is she now?</b>  Originally Springfield- she now lives in South Carolina with her hubby James and puppy Daisy :-) </p> 
            <p><b>A fun fact:</b> Dayna had really great fashion sense growing up. Tahra "borrowed" her clothes all the time. She got busted in 6th grade when class photos got sent home and Tahra was wearing Dayna's big simile face t-shirt. Oops!</p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          Lady of Honor: Lianna Peto
        </div>
        <div class='col-xs-12'>
          <%= image_tag("liana.jpg", class: 'overview') %>
          <div class='item-text'>
            <p><b>How she knows the bride:</b> Friends since 5th grade, butt buddies since high school- Lianna and Tahra grew up together through all of the big learning stages of life. They played soccer, basketball and lacrosse together and of course, spent many hours at band camp together. </p>
            <p><b>Where is she now?</b> Lives in Lansdale Pennsylvania with her husband Chris and wonderful doggie Mya!</p> 
            <p><b>A fun fact:</b> Lianna and Tahra traveled across Europe together in 2006 and traveled across a large portion of the United States in 2010. They partied in Berlin for the World Cup and Paris for the Tour De France!</p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          Lady of Honor: Kira Sonberg
        </div>
        <div class='col-xs-12'>
          <%= image_tag("kira.jpg", class: 'overview') %>
          <div class='item-text'>
            <p><b>How she knows the bride:</b>  They became instant friends in 2005- when Kira joined the AU Lax team. In 2009, they became roommates in DC and learned that they had even more in common as adults! Kira’s love for spandex, holidays, dancing and all around fun times was a perfect roomie match!  </p>
            <p><b>Where is she now?</b> Denver Colorado! Which makes Tahra REALLY happy :-D. Kira’s fiancé Andy, Paul and Tahra hang out on the regular. Did I mention Tahra is really happy about having a bestie in Colorado? </p> 
            <p><b>A fun fact:</b> Kira and Tahra have run and biked well over 1000 miles together, in at least 6 states over the last 12 years.</p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          Bridesmaid: Lauren Galante
        </div>
        <div class='col-xs-12'>
          <%= image_tag("lauren.jpg", class: 'overview') %>
          <div class='item-text'>
            <p><b>How she knows the bride:</b> AULAX08! Lau and T-Bone met freshman year of college.  Between being roomies for two years and co-captains of the AU Lacrosse team they spent a whole lot of time together at American University! </p>
            <p><b>Where is she now?</b> New York City with her fabulous husband Keith. </p> 
            <p><b>A fun fact:</b> Lau and T traveled to Greece together in 2009 when Tahra was living in London. They accidently got off a ferry on the wrong island…. Ios sounds like Theos… the other way to say Santorini ;-)  They made the best of their stop- enjoying the beach and pina coladas until they got on the next boat- 8 hours later! </p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          Bridesmaid: Jackie Salisbury
        </div>
        <div class='col-xs-12'>
          <%= image_tag("jackie.jpg", class: 'overview') %>
          <div class='item-text'>
            <p><b>How she knows the bride:</b> Also AULAX08! Jackie and T also spent a lot of time together at AU! They both majored/minored in business and health promotion- so they spent many hours together in the classroom and on the lax field together. </p>
            <p><b>Where is she now?</b> Freeport, New York with her husband Mike and dog Revis.</p> 
            <p><b>A fun fact:</b> Jackie and Tahra dressed up for Halloween together all four years of college. NYPD, Heineken 6 Pack, Upton Flight Attendants and best of all- American Gladiators! </p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          Bridesmaid: Rachael Brekke
        </div>
        <div class='col-xs-12'>
          <%= image_tag("rachael.jpg", class: 'overview') %>
          <div class='item-text'>
            <p><b>How she knows the bride:</b> Rachael and Tahra met the first day of college during Welcome Week! They were neighbors on the fabulous 4 North and have been friends since. Over the last 13 years, they watched countless Eagles games together and danced many hours together!  </p>
            <p><b>Where is she now?</b> Philadelphia, PA! FLY EAGLES FLY!</p> 
            <p><b>A fun fact:</b> Rachael and Tahra enjoy celebrating the winter holidays. Freshman year, Rachael taught Tahra about Hanukah and introduced her to the drinking dreidel game- a few rounds in she was speaking Hebrew!</p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          Bridesmaid: Laura King
        </div>
        <div class='col-xs-12'>
          <%= image_tag("laura.jpg", class: 'overview') %>
          <div class='item-text'>
            <p><b>How she knows the bride:</b> Laura and Tahra became friends in 5th grade from their traveling soccer team. They played soccer, basketball and lacrosse together for almost 8 years before heading off to college… where they played lacrosse against each other. They also attempted to start a band in high school… they almost got one full song down… ☺.</p>
            <p><b>Where is she now?</b>  In Pennsylvania with her cat Foxy… rarrr! </p> 
            <p><b>A fun fact:</b> Laura and Tahra loved the Reel Big Fish (still do!). In high school they went to a show at the Electric Factory, somehow held their position at the front (with a whole lot of moshing!) and Laura caught lead singer Aaron Barret’s tie (soaked in Jameson!). </p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          Best Man: Alex Szewczyk
        </div>
        <div class='col-xs-12'>
          <%= image_tag("alex.jpg", class: 'overview') %>
          <div class='item-text'>
            <p><b>How he knows the groom:</b>The brother from another mother. Paul and Alex became friends after joining the East High's Rugby team. They have been pretty inseperable since then. </p>
            <p><b>Where is he now?</b> Alex is a firefighter in Milwaukee, WI with his fiancee Lexie.</p>
            <p><b>A fun fact:</b> Paul and Alex dressed as Dumb and Dumber for their Junior prop (much to their dates dismay), they actually recreated the <a href='https://www.youtube.com/watch?v=67Vgag2PtNA' target="_blank">charity ball entrance scene</a>.</p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          Groomslady: Chloe Persing
        </div>
        <div class='col-xs-12'>
          <%= image_tag("chloe.jpg", class: 'overview') %>
          <div class='item-text'>
            <p><b>How she knows the groom:</b> Paul and Chloe were born friends, as their parents were good friends and had children around the same time. She is the closest thing to a sister that Paul has.</p>
            <p><b>Where is she now?</b> Chloe lives in Melbourne, Australia with her hilarious boyfriend Richard</p> 
            <p><b>A fun fact:</b> Chloe has the magical powers to make stuff stop working at the Grever household. She always leaves her mark.</p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          Groomsman: Greg Smiley
        </div>
        <div class='col-xs-12'>
          <%= image_tag("greg.jpg", class: 'overview') %>
          <div class='item-text'>
            <p><b>How he knows the groom:</b> Paul and Greg were nextdoor neighbors in the AU freshman dorms, Letts Hall. They have lived together during and post college for a total of 4 years.</p>
            <p><b>Where is he now?</b> Greg lives in Franconia VA, with his wife Michaela and their adorable dog Daisy.</p> 
            <p><b>A fun fact:</b> Greg can fit 23 double bubble pieces of gum in his mouth at one time.</p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          Groomsman: Antonio Elias
        </div>
        <div class='col-xs-12'>
          <%= image_tag("antonio.jpg", class: 'overview') %>
          <div class='item-text'>
            <p><b>How he knows the groom:</b> Paul and Antonio lived on the same floor in the American University dorms (4 North!). They became good friends and lived together senior year of college. That year they also worked together at Third Edition and had four of the same classes.</p>
            <p><b>Where is he now?</b> Antonio lives in Sao Paulo, Brazil with his girlfriend Amanda.</p>
            <p><b>A fun fact:</b> Antonio one time abandoned the apartment for three days because of a large spider in the kitchen.</p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          Groomsman: Andy Acs
        </div>
        <div class='col-xs-12'>
          <%= image_tag("andy.jpg", class: 'overview') %>
          <div class='item-text'>
            <p><b>How he knows the groom:</b> Paul and Andy met freshman year at American University, Andy invited Paul to play <a href='https://www.youtube.com/watch?v=eR5vUQ4lveE' target='_blank'>Lightning Reaction</a> but Andy didn't teach Paul how to play, so Paul was continuously shocked. Yet the truama bonded them and they have been good friends ever since. Andy even was responsible for getting Paul his job at LivingSocial.</p>
            <p><b>Where is he now?</b> Andy lives in Washington, DC with his wife Annie.</p>
            <p><b>A fun fact:</b> Andy Acs was the star of the 2015 Men Of Jorts Calendar. <a href='https://share.shutterfly.com/share/received/welcome.sfly?fid=a759df35407343cf&sid=0AZuGLVqzYtHDkY' target='_blank'>The 2017 Men of Jorts is on sale now!</a></p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          Groomsman: Shaen Johnson (Brother of Bride)
        </div>
        <div class='col-xs-12'>
          <%= image_tag("shaen.jpg", class: 'overview') %>
          <div class='item-text'>
            <p><b>How he knows the groom:</b> Paul and Shaen met in 2014 when Tahra decided Paul was worthy of meeting the Johnson family.</p>
            <p><b>Where is he now?</b> Shaen lives in Springfield PA and dates the amazing baker Kirstie.</p>
            <p><b>A fun fact:</b> Shaen can throw a frisbee over the entire Johnson house, which Paul lost a bet about. </p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 list-items'>
          Groomsman: Luis Valle
        </div>
        <div class='col-xs-12'>
          <%= image_tag("luis.jpg", class: 'overview') %>
          <div class='item-text'>
            <p><b>How he knows the groom:</b> Paul and Luis met at the bar Third Edition in Georgetown. Paul's first bartending shift was co-working with Luis and they crushed the back bar.</p>
            <p><b>Where is he now?</b> Luis lives in Alexandria, VA.</p>
            <p><b>A fun fact:</b> Paul and Luis would go to take pictures at DC's stadiums in Panoramic mode, and Luis would try to pop into the picture multiple times. The record was "1 stadium, 5 Luis's"</p>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-5 col-md-offset-2 hidden-sm hidden-xs'>
      <%= render 'partials/things' %>
    </div>
  </div>
</div>