<div class='container extra'>
  <div class='row'>
    <div class='col-md-7 col-xs-12'>
      <h1 class='article-title'>
        Can you get 100% on this Bride vs Groom Quiz?
      </h1>
      <p class="description">Was it Paul? Was it Tahra? Who knows?</p>
      <span class="post-datetimes">
        <span id="update_posted_time_4418899" class="buzz-datetime converted_buzz_datetime">engaged on  July 30, 2016, at 2:30 p.m.</span>
      </span>
      <div class="row">
        <div class='col-xs-2'>
          <%= image_tag('author.jpg', class: 'byline_avatar') %>
        </div>
        <div class="col-xs-10 byline_body">
          <a class="byline_author" data-action="user/username">Tahra Johnson & Paul Grever</a>

          <div class="byline_title">
            Bride and Groom,
            <br>
            Granby Ranch, Colorado USA
          </div>
        </div>
      </div>
      <div class='row social-media'>
        <%= render 'partials/social_media' %>
      </div>
      <div class='row one quiz'>
        <div class='col-xs-12 quiz-question'>
            <h1 class='quiz-text text-center'>Paul and Tahra both play COED indoor soccer together. Which one of them is the team goalie?</h1>
        </div>
        <div class='col-sm-6 col-xs-12 tahra answer-choice'>
          <div class='answer answer-tahra'>
            <div class='answer-space'>
              <%= image_tag("tahra-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Tahra Johnson</h3>
            </div>
          </div>
        </div>
        <div class='col-sm-6 col-xs-12 paul answer-choice'>
          <div class='answer answer-paul'>
            <div class='answer-space'>
              <%= image_tag("paul-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Paul Grever</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- ROW -->
      <div class='row two quiz'>
        <div class='col-xs-12 quiz-question'>
            <h1 class='quiz-text text-center'>Both Paul and Tahra played trombone while growing up. Who stuck with it longer?</h1>
        </div>
        <div class='col-sm-6 col-xs-12 tahra answer-choice'>
          <div class='answer answer-tahra'>
            <div class='answer-space'>
              <%= image_tag("tahra-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Tahra Johnson</h3>
            </div>
          </div>
        </div>
        <div class='col-sm-6 col-xs-12 paul answer-choice'>
          <div class='answer answer-paul'>
            <div class='answer-space'>
              <%= image_tag("paul-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Paul Grever</h3>
            </div>
          </div>
        </div>
      </div>

      <div class='row three quiz'>
        <div class='col-xs-12 quiz-question'>
            <h1 class='quiz-text text-center'>
              Paul and Tahra love to hit the Colorado slopes. Which one is the snowboarder?
            </h1>
        </div>
        <div class='col-sm-6 col-xs-12 tahra answer-choice'>
          <div class='answer answer-tahra'>
            <div class='answer-space'>
              <%= image_tag("tahra-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Tahra Johnson</h3>
            </div>
          </div>
        </div>
        <div class='col-sm-6 col-xs-12 paul answer-choice'>
          <div class='answer answer-paul'>
            <div class='answer-space'>
              <%= image_tag("paul-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Paul Grever</h3>
            </div>
          </div>
        </div>
      </div>

      <div class='row four quiz'>
        <div class='col-xs-12 quiz-question'>
            <h1 class='quiz-text text-center'>
              After only a month of dating, Paul and Tahra took a trapezee lesson for Valentines day. Which one successful jumped from the bar into the instructors hand first?
            </h1>
        </div>
        <div class='col-sm-6 col-xs-12 tahra answer-choice'>
          <div class='answer answer-tahra'>
            <div class='answer-space'>
              <%= image_tag("tahra-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Tahra Johnson</h3>
            </div>
          </div>
        </div>
        <div class='col-sm-6 col-xs-12 paul answer-choice'>
          <div class='answer answer-paul'>
            <div class='answer-space'>
              <%= image_tag("paul-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Paul Grever</h3>
            </div>
          </div>
        </div>
      </div>

      <div class='row five quiz'>
        <div class='col-xs-12 quiz-question'>
            <h1 class='quiz-text text-center'>
              Paul and Tahra moved to Colorado in 2014. Which one arrived to Colorado first?
            </h1>
        </div>
        <div class='col-sm-6 col-xs-12 tahra answer-choice'>
          <div class='answer answer-tahra'>
            <div class='answer-space'>
              <%= image_tag("tahra-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Tahra Johnson</h3>
            </div>
          </div>
        </div>
        <div class='col-sm-6 col-xs-12 paul answer-choice'>
          <div class='answer answer-paul'>
            <div class='answer-space'>
              <%= image_tag("paul-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Paul Grever</h3>
            </div>
          </div>
        </div>
      </div>
      <div class='row five quiz'>
        <div class='col-xs-12 quiz-question'>
            <h1 class='quiz-text text-center'>
              Paul and Tahra favorite brewery Colorado is Odells in Fort Collins. Who's favorite Odells beer is the IPA?
            </h1>
        </div>
        <div class='col-sm-6 col-xs-12 tahra answer-choice'>
          <div class='answer answer-tahra'>
            <div class='answer-space'>
              <%= image_tag("tahra-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Tahra Johnson</h3>
            </div>
          </div>
        </div>
        <div class='col-sm-6 col-xs-12 paul answer-choice'>
          <div class='answer answer-paul'>
            <div class='answer-space'>
              <%= image_tag("paul-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Paul Grever</h3>
            </div>
          </div>
        </div>
      </div>

      <div class='row five quiz'>
        <div class='col-xs-12 quiz-question'>
            <h1 class='quiz-text text-center'>
              According to How I Met Your Mother, every successful couple has one olive lover and one olive hater. Who is the oliver lover in this relationship?
            </h1>
        </div>
        <div class='col-sm-6 col-xs-12 tahra answer-choice'>
          <div class='answer answer-tahra'>
            <div class='answer-space'>
              <%= image_tag("tahra-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Tahra Johnson</h3>
            </div>
          </div>
        </div>
        <div class='col-sm-6 col-xs-12 paul answer-choice'>
          <div class='answer answer-paul'>
            <div class='answer-space'>
              <%= image_tag("paul-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Paul Grever</h3>
            </div>
          </div>
        </div>
      </div>
      <div class='row six quiz'>
        <div class='col-xs-12 quiz-question'>
            <h1 class='quiz-text text-center'>
              Paul and Tahra favorite brewery Colorado is Odells in Fort Collins. Who's favorite Odells beer is the IPA?
            </h1>
        </div>
        <div class='col-sm-6 col-xs-12 tahra answer-choice'>
          <div class='answer answer-tahra'>
            <div class='answer-space'>
              <%= image_tag("tahra-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Tahra Johnson</h3>
            </div>
          </div>
        </div>
        <div class='col-sm-6 col-xs-12 paul answer-choice'>
          <div class='answer answer-paul'>
            <div class='answer-space'>
              <%= image_tag("paul-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Paul Grever</h3>
            </div>
          </div>
        </div>
      </div>

      <div class='row seven quiz'>
        <div class='col-xs-12 quiz-question'>
            <h1 class='quiz-text text-center'>
              Paul and Tahra love camping together. But one of them loves smores indoors when the other is out of town. Who adores the smores?
            </h1>
        </div>
        <div class='col-sm-6 col-xs-12 tahra answer-choice'>
          <div class='answer answer-tahra'>
            <div class='answer-space'>
              <%= image_tag("tahra-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Tahra Johnson</h3>
            </div>
          </div>
        </div>
        <div class='col-sm-6 col-xs-12 paul answer-choice'>
          <div class='answer answer-paul'>
            <div class='answer-space'>
              <%= image_tag("paul-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Paul Grever</h3>
            </div>
          </div>
        </div>
      </div>

      <div class='row seven quiz'>
        <div class='col-xs-12 quiz-question'>
            <h1 class='quiz-text text-center'>
              Paul and Tahra have hiked many of Colorados mountains. Which one hiked a 14'er (14,000 ft mountain) the morning after polishing off a full bottle of champagne
            </h1>
        </div>
        <div class='col-sm-6 col-xs-12 tahra answer-choice'>
          <div class='answer answer-tahra'>
            <div class='answer-space'>
              <%= image_tag("tahra-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Tahra Johnson</h3>
            </div>
          </div>
        </div>
        <div class='col-sm-6 col-xs-12 paul answer-choice'>
          <div class='answer answer-paul'>
            <div class='answer-space'>
              <%= image_tag("paul-answer.jpg", class: 'image-answer center-block ') %>  
            </div>
            <div class='checkbox text-center'>
              <h3><i class="fa fa-square-o" aria-hidden="true"></i> Paul Grever</h3>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class='col-md-5 hidden-sm hidden-xs'>
      <%= render 'partials/things' %>
    </div>
  </div>
</div>

<%= render 'partials/welcome' %>
