<!DOCTYPE html>
<html>
  <head>
    <title>Paulandtahra</title>
    <%= favicon_link_tag "favicon.ico" %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  </head>

  <body>
    <%= render 'partials/navbar' %>
    <div class="center-block">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{name} text-center" %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
