<!DOCTYPE html>
<html>
  <head>
    <title>Paulandtahra</title>
    <%= favicon_link_tag "favicon.ico" %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:title" content="Bonefeed - Paul Grever and Tahra Johnson's Wedding Website" />
    <meta property="og:site_name" content="Bonefeed" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.paulandtahra.party" />
    <meta property="og:description" content="
    July 16, 2017 @ Granby Ranch Resort

    Why the Bones?
    Tahra was nicknamed T-Bone during her freshman year of Lacrosse at American University. After Tahra and Paul started dating the LAX girls began referring to them as Mr and Ms Bone or the Bones."
    <meta property="og:image" content=<%= image_path('the_bones.jpg') %> />
  </head>

  <body>
    <%= render 'partials/navbar' %>
    <div class="center-block">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{name} text-center" %>
      <% end %>
    </div>
    <%= yield %>
    <div class="modal fade" id="bone-pics" tabindex="-1" role="dialog" aria-labelledby="bone-pics-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="bone-pics-modal">LOL</h4>
          </div>
          <div class="modal-body images-from-icons">
            <div class="lol hidden">
              <%= image_tag("lol.jpg", class: "overview") %>
            </div>
            <div class="win hidden">
              <%= image_tag("win.jpg", class: "overview") %>
            </div>
            <div class="omg hidden">
              <%= image_tag("omg.jpg", class: "overview") %>
            </div>
            <div class="cute hidden">
              <%= image_tag("cute.jpg", class: "overview") %>
            </div>
            <div class="trending hidden">
              <%= image_tag("trending.jpg", class: "overview") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
